/* .DayPickerInput-Overlay {
    top: 8px !important;
    width: 100% !important;
    z-index: 3 !important;
}

.DayPicker {
    width: 100% !important;
}
*/
.DayPicker-Month {
  width: 100% !important;
  margin: 0 !important;
}

.DayPicker-Day.DayPicker-Day--selected {
  border-radius: 20% !important;
}
.DayPicker-wrapper {
  padding-bottom: 0 !important;
}

.editor {
  padding: 0 !important;
  font-size: 20px !important;
}

/* .quill {
    margin-top: 20px;
} */

.ql-toolbar {
  border: none !important;
  padding-top: 0 !important;
  border-bottom: 2px solid lightgray !important;
  /* border-radius: 12px 12px 0 0; */
}

.ql-container {
  /* border-radius: 0 0 12px 12px; */
  border: none !important;
  font-size: 16px !important;
  font-family: "Sen", sans-serif !important;
}

.ql-editor {
  min-height: 150px;
}

/* .ql-formats {
    margin-right: 0 !important;
    margin-top: -@sizing-100;
} */

.ql-formats button {
  padding-left: 8px;
  padding-right: 8px;
  width: 24px;
  margin-right: 8px;
  /* border: 1px solid lightgray !important; */
  border: none !important;
}

.ql-formats button:hover {
  color: #1d80c8 !important;
  background-color: #def6ff !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke {
  stroke: #1d80c8 !important;
  /* fill: #1d80c8 !important; */
}

.ql-formats button.ql-active {
  background-color: #def6ff !important;
  border-color: #1d80c8 !important;
  color: #1d80c8 !important;
}

.ql-formats button.ql-active .ql-stroke,
.ql-formats button:hover .ql-stroke {
  stroke: #1d80c8 !important;
}

.ql-formats button.ql-active .ql-fill,
.ql-formats button:hover .ql-fill {
  fill: #1d80c8 !important;
}

/* .image-gallery-slide {
  width: 330px !important;
  padding-right: 24px !important;
} */
.image-gallery.fullscreen-modal {
  z-index: 10 !important;
}
.image-gallery-content.fullscreen .image-gallery-slide {
  width: 100% !important;
}

@media (max-width: 575px) {
  .image-gallery-slide {
    padding-right: 0px !important;
  }
}

.image-gallery-image {
  max-height: 370px !important;
}

.image-gallery-content.fullscreen .image-gallery-image {
  max-height: calc(100vh - 80px) !important;
}

.image-gallery.fullscreen-modal .image-gallery-image {
  max-height: calc(100vh - 80px) !important;
}

.image-gallery.fullscreen-modal .image-gallery-slide {
  width: 100% !important;
}

.image-gallery-icon:focus {
  outline: 2px solid #1d80c8 !important;
}

.image-gallery-icon:hover {
  color: #1d80c8 !important;
}
